{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Casual Co-Worker Connection</title>



    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">Casual Co-Worker Connection</div>
    <div class="address-bar">1156 High Street | Santa Cruz, CA 95060 | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{=URL('default','index.html')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{=URL('default','lunch.html')}}">Lunch</a>
                    </li>
                    <li>
                        <a href="{{=URL('default','activities.html')}}">Activities</a>
                    </li>
                    <li>
                        <a href="{{=URL('default','questions.html')}}">Forum</a>
                    </li>
                    <li>
                        <a href="{{=URL('default','support.html')}}">Support Groups</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="/coworkerconnection/static/images/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/coworkerconnection/static/images/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="/coworkerconnection/static/images/slide-3.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Casual Co-Worker Connection</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Hack UCSC</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Build Strong Friendships
                        <strong>Over Lunch</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/coworkerconnection/static/images/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Issue:<br>
People genuinely enjoy getting to meet new people but the constraints of work such as deadlines and heavy workloads often prohibit workers from communicating with each other and making new friends. Workers often find the task of socializing difficult and result to sites such as Facebook for virtual company.
</p>
                    <p>Solution:<br>
The Lunch Tab promotes you to getting to really know the people work with. It allows users to casually send invites and receive notifications to collaborate and share ideas over lunch.
</p>
                    <p>How to Use:<br>
Using the Friendship Tab is easy. Simply find a place to grab lunch, send an invite, and wait for a response by your co-workers. You’ll be surprised to learn how many people are anxious to meet with you just to talk, collaborate, share ideas, and have a good time. You can add reviews, upload images, locate joints using the map feature and apply filtering to simplify searches. Can't decide on a place for lunch? Try Yelp for more ideas.
</p>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Find Activities Going On 
                        <strong>At Work</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/coworkerconnection/static/images/slide-3.jpg" alt="">

                    <p>Issue:<br>
The truth of the matter is, activities and sports at work are sometimes non-existent due to a fast paced environment, separation by department, and self-seclusion. People love the thought of being active but find it difficult to find and invite other people who are interested in the same things. Thousands of workers like to go the gym, bike, and run but they shy away from inviting their co-workers, missing out on opportunities to build strong relationships at work.
</p>
                    <p>Solution: <br>
The Activity Tab encourages a healthier and happier lifestyle for workers by showcasing activities that workers indulge in. Posts help you find friends who are interested in the same things you are.
</p>
                    <p>

How to Use:<br>
Locate your top interests. Don’t find any you like? Initiate an outing and invite specific co-workers or post a bulletin that all workers will get a chance to see. Co-workers will see the notification and reply to your bulletin for further information if they share your interest. Some possibilities include (but are not limited to); group yoga classes, sport events, cycling, basketball game during lunch, soccer match, short sprints after work, etc.

                    </p>
                </div>
            </div>
        </div>
		
		<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Forums to Post
                        <strong>Questions/Concerns</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/coworkerconnection/static/images/slide-2.jpg" alt="">

<p>
    Issue:<br>
Most workers have questions that simply don’t get asked for reasons such as shyness, embarrassment, or not knowing who to approach. Left unanswered, this can pose confusion at work, reduce productivity, and decrease worker confidence. Workers should feel entitled to share their opinions, announce their concerns, and find out if their co-workers feel the same way too.

</p>
                    <p>Solution:<br>
The Forums Tab allows co-workers to post questions and address their concerns. They can ask about for help, post how they are feeling about a certain issue or generate a conversation about a topic that would otherwise be hard to talk about in such a large scale group. This forum maximizes communication by amplifying a workers voice to reach thousands of potential employees.
</p>
                    <p>How To Use:<br>
Post any question or concern you may have. Not sure if you should post? Here are some reasons for doing so.<br>
1.	Acquire knowledge<br>
2.	Eliminate confusion<br>
3.	Cause someone else to feel special / important<br>
4.	Guide a conversation in the direction we want it to go<br>
5.	Demonstrate humility to another<br>
6.	Enable a person to discover answers for themselves<br>
7.	Gain empathy through better understanding another’s view<br>
8.	Influence / alter someone else’s opinion / view<br>
9.	Strengthen a relationship<br>
10.	Humbly show we have knowledge on a specific topic<br>
11.	Stimulate creativity and idea generation<br>
12.	Gain a person’s attention<br>
13.	Solve a problem<br>
14.	Reach agreement or “agree to disagree” with clarity<br>

Posted by John G. Miller, QBQ! In “15 Reasons to ask questions”

</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Join A
                        <strong>Support Group</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/coworkerconnection/static/images/slide-1.jpg" alt="">
                    <hr class="visible-xs">
                    <p>Issue:<br>
On occasion, workers can tend to feel alone, unprotected, vulnerable, confused, depressed or unsatisfied. Lack of support is one of the top reasons why workers move to find a different company. </p>
                    <p>Solution:<br>
The Support Group Tab enables workers to join organizations of people who share a common experience. By doing so, workers feel entitlement, satisfaction, and are overall more productive at work. There is a decreased sense of isolation, increased freedom to express negative feeling, and opportunities to cope with issues. </p>
                    <p>How to Use:<br>
Navigate through the various Support Groups and join a category that you feel best fits you.
Don’t find something you like? Start a new group and invite others to join in. Use the calendar feature to post meeting times and location. It’s as easy as that.
</p>
                    <br>
                    Addiction<br>
AIDS<br>
Alzheimer’s<br>
Anxiety<br>
Breastfeeding<br>
Cancer<br>
Diabetes<br>
Domestic Violence<br>
Eating Disorders<br>
Gay Groups<br>
Grief<br>
Infertility<br>
Miscarriage<br>
Mood Disorders<br>
Narcolepsy<br>
Sexual Abuse Survivors<br>
Sleep Disorders<br>
Stroke<br>
Suicide Prevention<br>
Parenting<br>

                    </div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
 <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.7713839932653!2d-122.06306048458455!3d36.991389864613495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e41a2ff8cbf4f%3A0x3a8e3b7c928320d5!2sUniversity+of+California%2C+Santa+Cruz!5e0!3m2!1sen!2sus!4v1454266262796" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                </div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>123.456.7890</strong>
                    </p>

                    <p>Address:
                        <strong>1156 High Street
                            <br>Santa Cruz, CA 95946</strong>
                    </p>
                </div>
    </div>
                </div></div>
    <!-- /.container -->




    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
