{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Activities</title>



    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

 <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script>
        $(document).ready(function() {

    // page is now ready, initialize the calendar...

        //Options and Callbacks for Calendar
    $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        selectable: true,
        editable: true,
        columnFormat: 'dddd',
        theme: false,
        contentHeight: 640,
		eventDurationEditable: false
    });
        var i=0;
        {{if not auth.user_id is None:}}
        {{for post in post_list:}}
            var cal={{=XML(calendar)}}
        //alert(cal[i]);
    var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
            var newEvent = {
                title: cal[i]['title'],
                start: new Date(cal[i]['start_time']),
                end:new Date(cal[i]['end_time']),
                url: "#"+cal[i]['title'],
            };
            $('#calendar').fullCalendar( 'renderEvent', newEvent , 'stick');
        i++;
        {{pass}}
            {{pass}}
         });
    </script>

</head>

<body>

    <div class="brand">Casual Co-Worker Connection</div>
    <div class="address-bar">1156 High Street | Santa Cruz, CA 95064 | 123.456.7890</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="lunch.html">Lunch</a>
                    </li>
                    <li>
                        <a href="activities.html">Activities</a>
                    </li>
                    <li>
                        <a href="questions.html">Forum</a>
                    </li>
                    <li>
                        <a href="support.html">Support Groups</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">

                    <div class="col-lg-12">
                    {{if not auth.user_id is None:}}
                        <hr>
                        {{=A('Add New Support Group', _class='btn btn-default', _href=URL('default','add_post_support'))}}

                    <hr>
                    <h2 class="intro-text text-center">Support Group
                        <strong>Postings</strong>
                    </h2>
                    <hr>
                        {{pass}}
                </div>
                    <hr>
                </div>
                {{if not auth.user_id is None:}}
                <div id='calendar'></div>
                {{if post_list is not None:}}
                {{for post in post_list:}}
                <a name={{=post.title}}></a>
                <div class="col-lg-12 text-center separator">
                    <img class="img-responsive img-border img-full" src="{{=URL('download', args=post.image)}}" alt="">
                    <h2>{{=post.title}}
                        <br>
                        <small>{{=post.created_on}}</small>
                    </h2>
                    <p>{{=post.desc}}</p>
                {{=A(SPAN("Read More"), _class='btn btn-default btn-lg', _href=URL('default', 'show_messages_support', args=[post.post_id]))}}
                    <hr>
                </div>
                {{pass}}
                {{pass}}
                {{else:}}

                <div class="col-lg-12 text-center">
                    <h2>Please Log in To See Support Groups for Your Company
                        <br>
                    </h2>
                    <hr>
                </div>
                {{pass}}
            </div>
        </div>

    </div>



</body>

</html>
